{% extends 'base/website.html.twig' %}

{% block main %}
    {% include "forum/nav_forum.html.twig" %}
  <div class="box_subject rounded-4 p-4 position-relative">
    <div class="d-flex flex-column justify-content-between h-100">
        <div><span class="f_reunion">Réunion</span> <span class="time_message">• Il y a *h</span></div>
        <a href="{{path('app_welcome')}}" class="stretched-link"></a> {# Lien vers la page du sujet, s'étend sur l'ensemble de la div #}
        {# Le lien même invisible influ sur le justify-content-between, ça crée un petit margin à son emplacement  #}
        <div class="h-50">
            <h3 class="fw-bold fs-5 mb-3">Titre du sujet</h3>
            <p class="">BlablaBlablaBlablaBlablaBlablaBlablaBlabla</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <span>Nom prénom</span>
            <button class="btn-like position-relative" style="z-index: 2" data-id="1"> <i class="fa-regular fa-thumbs-up"></i><span class="like-count">12</span></button>
        </div>
    </div>
</div>
{% endblock %}